<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.cc">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".insertstudent" />
        <activity android:name=".studentlist" />
        <activity android:name=".studentlistview" />
        <activity android:name=".MainTeacher" />
        <activity android:name=".MainStudent" />
        <activity android:name=".secview" />
        <activity android:name=".Check"></activity>
    </application>

</manifest>